<a href="https://colab.research.google.com/github/jeonghs2015/Python-google-colab/blob/master/DataFrame_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import os
import pandas as pd

In [ ]:
os.listdir('./drive/MyDrive//machine_learning/machine_learning_data')

['new_friend.csv', 'friend.csv']

In [ ]:
# 데이터 폴더 src 변수 할당.
base_src = './drive/MyDrive//machine_learning/machine_learning_data'

# friend.csv 파일 src 변수 할당
friend_src = base_src + '/friend.csv'

In [ ]:
# pandas의 read_csv => 데이터 불러오기
df = pd.read_csv(friend_src, encoding='utf-8')

In [ ]:
# head() 함수로 데이터를 읽어보기 => head 함수는 5개 까지 읽어주는 함수 // default = 5
df.head()

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager
5  Chris   25     intern

In [ ]:
new_friend_src = base_src + '/new_friend_index_true.csv'

In [ ]:
df.to_csv(new_friend_src, index=False, encoding='utf-8')

In [ ]:
os.listdir(base_src)

['new_friend.csv',
 'friend.csv',
 '.ipynb_checkpoints',
 'new_friend_index_true.csv']

In [ ]:
new_friend_index_true = pd.read_csv(new_friend_src)

In [ ]:
new_friend_index_true

   Unnamed: 0   name  age        job
0           0   John   20    student
1           1  Jenny   30  developer
2           2   Nate   30    teacher
3           3  Julia   40    dentist
4           4  Brian   45    manager
5           5  Chris   25     intern

In [ ]:
# Series 실습
import numpy as np
np.array([1,2,3])

array([1, 2, 3])

In [ ]:
# 데이터프레임(집합) => 시리즈 (단일) => 데이터프레임
series = df['name']
series

0     John
1    Jenny
2     Nate
3    Julia
4    Brian
5    Chris
Name: name, dtype: object

In [ ]:
# pd.Series 함수를 통해서 만드는 것도 가능
series = pd.Series([1,2,3,4])
series

0    1
1    2
2    3
3    4
dtype: int64

In [ ]:
# pd.Series 의 옵션이 무엇이 있는지 확인
# index => 할당값의 지정 이름, 중복 가능['a', 'b', 'c', 'd']
# dtype => 대표적 : int, float, string, boolean 등
series = pd.Series([1,2,3,4], index=['a', 'b', 'c', 'd'], dtype=float)
series

a    1.0
b    2.0
c    3.0
d    4.0
dtype: float64

In [ ]:
series = pd.Series([10,2,5,4], index=['a', 'b', 'c', 'd'], dtype=float)
series.sort_values(ascending=True)

b     2.0
d     4.0
c     5.0
a    10.0
dtype: float64

In [ ]:
series.sort_values(ascending=False)

a    10.0
c     5.0
d     4.0
b     2.0
dtype: float64

In [ ]:
# DataFrame 실습
df = pd.DataFrame({'a':[2,3], 'b':[5,10]}, columns=['b','a'])
df

    b  a
0   5  2
1  10  3

In [ ]:
df = pd.DataFrame([[2,5,100], [3,10,200], [10,20,300]], columns=['a', 'b', 'c'], index=['가', '나', '다'], dtype=float)
df

      a     b      c
가   2.0   5.0  100.0
나   3.0  10.0  200.0
다  10.0  20.0  300.0

In [ ]:
# - DataFrame 행, 열 선택 및 필터링
df = pd.read_csv(friend_src, encoding='utf-8')
df.head()

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager

In [ ]:
# index 2번에 해당하다느 row 가져오기
df.iloc[4]

name      Brian
age          45
job     manager
Name: 4, dtype: object

In [ ]:
df.iloc[[2]]

   name  age      job
2  Nate   30  teacher

In [ ]:
df['job']

0      student
1    developer
2      teacher
3      dentist
4      manager
5       intern
Name: job, dtype: object

In [ ]:
df.loc[:,'job']

0      student
1    developer
2      teacher
3      dentist
4      manager
5       intern
Name: job, dtype: object

In [ ]:
# object => string

In [ ]:
df['new_columns'] = [1,2,3,4,5,'컬럼']

In [ ]:
df['new_columns']

0     1
1     2
2     3
3     4
4     5
5    컬럼
Name: new_columns, dtype: object

In [ ]:
# 문자 => 실수 => 정수
df['new_columns2'] = [1.0,2.0,3.0,4.0,5.0,'컬럼']

In [ ]:
df['new_columns2']

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5     컬럼
Name: new_columns2, dtype: object

In [ ]:
df

    name  age        job new_columns new_columns2
0   John   20    student           1          1.0
1  Jenny   30  developer           2          2.0
2   Nate   30    teacher           3          3.0
3  Julia   40    dentist           4          4.0
4  Brian   45    manager           5          5.0
5  Chris   25     intern          컬럼           컬럼


# 많이 하는 질문
```iloc vs loc 뭐가 다른건지??```
- iloc 는 인덱스와 컬럼을 리스트 배열로 선택하는것!
- loc 는 인덱스와 컬럼을 문자로 선택하는 것!
- 따라서 상황에 맞게 선택하는 것이 중요!

In [ ]:
# - DataFrame 행, 열, 삭제

In [ ]:
df = pd.DataFrame(np.arange(12).reshape(3,4), columns=['A','B','C','D'], index=['a','b','c'])
df

   A  B   C   D
a  0  1   2   3
b  4  5   6   7
c  8  9  10  11

In [ ]:
df.drop(['B','C'],axis=1)

   A   D
a  0   3
b  4   7
c  8  11

In [ ]:
df.drop(['b','c'],axis=0)

   A  B  C  D
a  0  1  2  3

In [ ]:
df.loc[1,'C'] = '육'

In [ ]:
df.iloc[1,2] = 6

In [ ]:
df = df.drop([1],axis=0)

In [ ]:
df

     A    B     C     D
a  0.0  1.0   2.0   3.0
b  4.0  5.0     6   7.0
c  8.0  9.0  10.0  11.0

In [ ]:
df[df['C']<=7]

     A    B    C    D
a  0.0  1.0  2.0  3.0
b  4.0  5.0    6  7.0

In [ ]:
df[(df['B']>1) & (df['B']<9)]

     A    B  C    D
b  4.0  5.0  6  7.0

In [ ]:
df[(df['B']>5) | (df['B']<5)]

     A    B     C     D
a  0.0  1.0   2.0   3.0
c  8.0  9.0  10.0  11.0

In [ ]:
df[df['B'].apply(lambda x : x in [1,2,3,4,5,6])]

     A    B    C    D
a  0.0  1.0  2.0  3.0
b  4.0  5.0    6  7.0

In [ ]:
df[df['C'].apply(lambda x : x in [1,6.0,7,8,9])]

     A    B  C    D
b  4.0  5.0  6  7.0